<% @schedules.each do |schedule| 
	@tm = @tm + 100
	@non = true
	if schedule.startdate > Time.now
		@non = false
		%>
			<%= content_tag :div, class: "timeline-block" do -%>
			<%= content_tag :div, class: "timeline-img",:'data-anim-effect'=>"zoomIn", :'data-anim-delay'=>@tm do -%>
				<%= content_tag(:i,schedule.startdate.strftime("%d/%m/%Y"), class: nil)-%>
			<% end -%>
			<%= content_tag :div, class: "timeline-content",:'data-anim-effect'=>cycle("fadeInRight", "fadeInLeft"), :'data-anim-delay'=>@tm do -%>
				<h2>Điểm du lịch: <%= content_tag(:strong,schedule.endplace, class: nil)-%></h2>
				<%= content_tag(:p,"Thời gian: " + schedule.startdate.strftime("%d/%m/%Y") + " - " + schedule.enddate.strftime("%d/%m/%Y"), class: nil)-%>
			<% end -%>
		<%end%>	
	<%end%>
<% end %>
<%if !@non%>
	<%= render "schedule/tab1_nonecal" %>
<%end%>