<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Nội dung" %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :idtype, "Thể loại" %><br>
    <%= f.select :idtype, options_for_select([["Địa điểm du lịch", 0], ["Khoảnh khắc đi du lịch", 1]]), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Đường dẫn" %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit 'Thêm ảnh', class: "btn btn-lg btn-success btn-block"%>
  </div>
<% end %>
