
<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :startdate, "Ngày đi" %><br>
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
      <%= f.text_field :startdate, class:'form-control',  :id=>'datetimepicker6' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enddate, "Ngày về" %><br>
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
      <%= f.text_field :enddate, class:'form-control', :id=>'datetimepicker7' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :startplace, "Điểm khởi hành"  %><br>
    <%= f.text_area :startplace, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :endplace, "Điểm kết thúc" %><br>
    <%= f.text_area :endplace, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.submit 'Tạo lịch trình', class: "btn btn-lg btn-success btn-block" %>
  </div>
<% end %>
